@page {
	header: page-header;
	footer: page-footer;
    margin-header:1pt;
    size: 8.5in 11in;  
    margin:3mm;
    padding:3mm;
    margin-top: 25mm;
    border:2px solid #000;
}
body {
    font-size:16px; 
    border:2px solid #000;
    line-height: 1.5;   
}
p.disclamier { font-size:14px;margin-top:30mm; padding:3mm;}
.heading2 { text-align: center; display:inline-block; background-color:#0099cc; color:#FFF;}
.heading3 { text-align: center; background-color:#0099cc; color:#FFF; }
.header { width:100%; border-top:1pt solid #000; border-left:1pt solid #000;border-right:1pt solid #000; border-bottom:0pt solid #000;}
.text-right  { text-align:right; }
.text-center  { text-align:center; }
.heading {
    background:#0099cc;
    color:#FFF;
    text-align:center;
    margin:0;
}
.table { display:table; width:100%; }
.table-bordered {
    border-collapse: collapse;
}
.table-bordered tr,.table-bordered th,.table-bordered td {
    border:1px solid #EEE;
    line-height: 1.5;
}
.row{      
    display:flex;
    flex-direction: row;     
}
.border_box {
    position:absolute;
    top:0;
    width:28.2cm;
    height:31.3cm;    
    border-left:1pt solid black;border-bottom:1pt solid #000;border-right:1pt solid #000;
}
.col-md-3 { width:30%;float:left;}
.col-md-4 { width:33.33%;float:left;}
.col-md-9 { width:70%;float:left;}
.personal_detail table th{
    text-align:right;
    width:50%;
    padding-right:20px;
}
div.add_break {
    page-break-before: always;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px ;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4 px ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary { color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} 
.mt-3 {
    margin-top:10mm;
}
.footer { width:100%; font-size:10px; }